<ion-content>
  <template [ngIf]="empty">
    <h1>Ooops, no transaction</h1>
  </template>
  <template [ngIf]="!empty">
    <ion-card>
      <ion-item>
        <h2>Inflow: {{ inflow }}</h2>
        <h2>Outflow: {{ outflow }}</h2>
        <h2>Total: {{ total }}</h2>
      </ion-item>
    </ion-card>
    <ion-card *ngFor="let date of dates">
      <h1>{{ date.date }} : {{ date.total }}</h1>
      <ion-item *ngFor="let data of date.data">
        <button ion-button block (click)='viewTransaction(data.id);'>
          <ion-grid no-padding>
            <ion-row nowrap>
              <ion-col>
                <h2>{{ data.category }}</h2>
              </ion-col>
              <ion-col col-auto>
                <h2 float-right>Rp {{ data.amount }}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>{{ data.description }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-item>
    </ion-card>
  </template>
</ion-content>
