<ion-content>
  <template [ngIf]="empty">
    <h1>Ooops, no transaction</h1>
  </template>
  <template [ngIf]="!empty">
    <ion-card>
      <ion-item>
        <h2>Inflow: {{ inflow }}</h2>
        <h2>Outflow: {{ outflow }}</h2>
        <h2>Total: {{ total }}</h2>
        <button ion-button clear full (click)="viewReport()">View Report</button>
      </ion-item>
    </ion-card>
    <ion-card *ngFor="let date of dates">
      <ion-card-header>{{ date.date }} : {{ date.total }}</ion-card-header>
      <ion-item *ngFor="let data of date.data" (click)='viewTransaction(data.id);'>
        <h2>{{ data.category }}</h2>
        <h2 float-right>Rp {{ data.amount }}</h2>
        <p>{{ data.description }}</p>
      </ion-item>
    </ion-card>
  </template>
</ion-content>
