<ion-content>
  <ion-card>
    <ion-item>
      <h2>Inflow: {{ inflow }}</h2>
      <h2>Outflow: {{ outflow }}</h2>
    </ion-item>
  </ion-card>
  <template [ngIf]="transactions.lenght == 0">
    <h1>Ooops, no transaction</h1>
  </template>
  <ion-card *ngFor="let trans of transactions">
    <ion-item>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-auto>
            <h2>{{ trans.date }} {{ trans.month }} {{ trans.year }}</h2>
          </ion-col>
        </ion-row>
        <ion-row nowrap>
          <ion-col>
            <h2>{{ trans.category }}</h2>
          </ion-col>
          <ion-col col-auto>
            <h2 float-right>Rp {{ trans.amount }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{ trans.description }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  <!--
    <div *ngIf="isValid;then content else other_content">here is ignored</div>
    <ng-template #content>content here...</ng-template>
    <ng-template #other_content>other content here...</ng-template>
  -->
</ion-content>
